<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Actividades</title>
</head>
<body>
    {% url 'blog:home' as url_home %}
    {% url 'blog:generador' as url_generador %}
    {% url 'blog:crear' as url_crear %}

    <div class="container-fluid bg-primary p-5">
        <h1 class="display-5 text-white">Entradas de Blogs</h1>
    </div>

    <div class="container-fluid px-0 sticky-{}">
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark py-2">
            <div class="container-fluid">
                <!-- Logo o marca -->
                <a class="navbar-brand" href="{% url 'core:home' %}">
                    Inicio
                </a>
                
                <!-- Botón para mostrar y ocultar el menú (solo visible cuando está colapsado)
                El target tiene que concidir con el ID del contenido del navbar -->
                <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#contenido_navbar" aria-expanded="false">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="contenido_navbar">
                    <!-- .me-auto es para que todo lo que esté fuera de la lista
                    se pegue al lado derecho -->
                    <ul class="navbar-nav me-auto mb-0 pt-3 pt-sm-0">
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == url_home %} active {% endif %}" href="{% url 'blog:home' %}">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == url_generador %} active {% endif %}" href="{% url 'blog:generador' %}">Generador</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == url_crear %}active{% endif %}" href="{% url 'blog:crear' %}">Crear</a>
                        </li>
                    </ul>
                    <div class="d-flex pt-3 pt-sm-0 me-2 text-light flex-column flex-sm-row gap-3">
                        <a class="text-decoration-none text-light me-3" href="">Cerrar sesión</a>
                        <a class="text-decoration-none text-light me-3" href="">Cuenta</a>
                        <span class="d-none d-sm-inline"><i class="fa-solid fa-user"></i></span>
                    </div>
                </div>
            </div>
        </nav>
    </div>

    {% block contenido %}{% endblock %}

</body>
</html>